@import './variables.scss';

main.debug {
    color: $col_white;
    background-color: black;

    .container {
        font-size: 20px;
        font-weight: 600;
        padding: 50px 0;
    }
}

footer.debug {

    // .top_footer {
    //     height: 120px;
    //     background-color: $primary_color;
    // }

    .main_footer {
        height: 500px;
        background-color: #2c2c2c;
    }

    .bottom_footer {
        height: 100px;
        background-color: $secondary_color;
    }
}